@import url("https://fonts.googleapis.com/css2?family=Poppins");
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb {
  background: #4874c5; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5f97ff; 
}
html {
  scroll-behavior: smooth;
}
.transition-1{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(74, 167, 255, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-out;
}
.transition-1.is-active{
  opacity: 1;
  pointer-events: all;
}

body {
  overflow: overlay;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial;

  box-sizing: border-box;
  background-color: white;
  background: url("../img/Background.png") no-repeat center center fixed;
  background-size: cover;
}
header {
  position: relative;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    img {
      margin: 0 20px;
      width: 200px;
    }
  }

  .links {
    ul {
      display: flex;
      li {
        margin: 0 20px;
        list-style: none;

        a {
          position: relative;
          padding-bottom: 10px;
          text-transform: uppercase;
          color: white;
          text-decoration: none;
          font-size: 17px;
          margin-left: 1rem;
        }
        a:after {
          bottom: 0;
          content: "";
          display: block;
          height: 1px;
          left: 50%;
          position: absolute;
          background: white;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        a:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
.bg {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  z-index: -1;

  background-image: url("../img/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector-wrapper{
  position: relative;
  top: 10px;
  width: 100%;
  overflow-x: hidden;
}
.vector-wrapper-rotate{
  position: relative;
  top: -5px;
  width: 100%;
  overflow-x: hidden;

  img{
    transform: rotate(180deg);
  }
}
.vector {
  width: 100%;
  min-width: 600px;
  margin: 0;
  padding: 0;
}

.Landing-wrapper {
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  .error{
    color: white;
    text-align: center;

    h1{
      font-size: 50px;
      margin: 0;
    }
    p{
      font-size: 20px;
      margin: 0;
    }
  }

  .landing-info-wrapper {
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .imagen-error{
      width: 300px;
    }
    .Logo {
      img {
        width: 500px;
      }
    }
    .info {
      text-align: justify;
      margin: 0 20px;
      color: white;
    }
    .landing-buttons {
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;

      .lan-buttn {
        width: 150px;
        padding: 10px 0;
        border: 1px solid white;
        border-radius: 50px;
        color: white;
        text-decoration: none;

        background: linear-gradient(to right, #ffffff 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.3s ease-out;
      }
      .lan-buttn2 {
        width: 150px;
        padding: 10px 0;
        background-color: white;
        border: 1px solid white;
        border-radius: 50px;
        color: #4874c5;
        text-decoration: none;

        background: linear-gradient(to right, transparent 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.3s ease-out;
      }

      .lan-buttn:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.3);
        background-position: left bottom;
        color: #4874c5;
      }
      .lan-buttn2:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5);
        background-position: left bottom;
        color: white;
      }
    }
  }
}
.Info-wrapper,.Agendar-wrapper{
  background-color: white;
  .info-grid, .Agendar-grid{
    display: grid;
    grid-template-columns: 40% 1fr;
    color: #4874c5;

    .icon-Agendar{
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        font-size: 200px;
      }
    }

    .img-info{
      img{
        margin: 20px;
        width: 80%;
        border-radius: 20px;
      }
    }
    .info-info, .info-Agendar{
      display: flex;
      margin: 5px 20px;
      justify-content: center;
      flex-direction: column;

      h1{
        margin: 0;
        font-size: 30px;
      }
      hr{
        width: 100%;
        border: 1px solid #4874c5;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        width: 200px;
        height: 50px;
        background-color: #4874c5;
        text-align: center;
      }
      a:hover{
        background-color: #5f97ff;
      }
    }
  }
}

.First-Section {
  height: 20vh;
  background-color: white;

  .first-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.login-wrapper,
.register-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;

  .login, .register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px 20px;

    .Logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 300px;
      }
    }
    .register-input-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .inputs {
      form {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        margin: 0 50px;
        h1 {
          margin: 5px 0;
        }
        h4 {
          margin: 0;
        }
        p {
          margin: 0;
        }
        a,
        a:visited {
          color: #0099ff;
          text-decoration: none;
        }
        .input-wrapper{
          input{
            width: 100%;
          }
        }
        input {
          outline: none;
          text-indent: 10px;
          font-family: Poppins, Arial;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 15px;
          width: 300px;
          height: 40px;
        }
        .center-submit {
          width: 100%;
          text-align: right;
        }
        .center-submit-register {
          width: 100%;
          text-align: right;

          input[type="submit"] {
            width: 100%;
          }
        }
        input[type="submit"] {
          margin: 20px 0;
          width: 100px;
          text-indent: 0px;
          background-color: white;
          color: #4874c5;
          font-weight: bold;
        }
      }
    }
  }
}
.coche-wrapper{
  .agenda-wrapper{
    .agenda-bg2{
      .agenda-bg{
        margin: 20px 0;
        .horas{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .col-grid{
            width: 500px;
            display: grid;
            text-align: center;
            height: 100%;
            grid-template-columns: 1fr 1fr;
            .col-flex{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
        
            .col1,.col2{
              display: flex;
              align-items: center;
              flex-direction: column;
              width: 150px;
              height: 100%;

              .horario{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: 1px solid #4874c5;
                border-radius: 10px;
                margin: 2px 0;
                cursor: pointer;

                input[type=checkbox]{
                  border: 2px solid #4874c5;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                }
                input:checked{
                  border-radius: 20px;
                }
                label{
                  margin-right: 30px;
                }

              }

              .Titulo{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 50px;
                color: white;
                background-color: #4874c5;
                border: 1px solid #4874c5;
                border-radius: 10px;

                h1{
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

  }
}
.agenda-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .agenda-bg2{
    background-color: white;
    width: 100%;
    text-align: center;
    color: #4874c5;

    .agenda-bg{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      .agenda-wrapper2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  #Agenda{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    max-width: 400px;
    min-height: 520px;
    margin: 20px 20px;
    .año{
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 50px;
      font-size: 20px;
      padding: 5px 0;
      color: white !important;
      background-color: #4874c5;
      border-radius: 25px 25px 0 0;

      h2{
        color: white;
        margin: 0 20px;
      }

    }
    .mes{
      color: white;
      text-align: center;
      padding: 2px 0;
    }
    h3{
      margin: 5px 0;
    }
    .botonesCal{
      width: 30px;
      height: 30px;
      font-size: 20px;
      margin: 0 20px;
      background-color: white;
      border-radius: 50%;
      color: #4874c5;
      border: none;
      cursor: pointer;
      outline: none;
      transition: 0.5s;
    }
    #calendar{
      transition: 1s;
      width: 100%;

      td{
        height: 55px;
        width: 55px;
        text-align: center;
      }
      tr{
        color: white;
      }
      .dias{
        width: 30px;
        height: 30px;
        color: white;
        text-align: center;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        outline: none;
      }
      .dias:hover{
        border: 1px solid white;
      }
      .dias:focus{
        background-color: white;
        border: 1px solid white;
        color: #4874c5;
        font-weight: bold;
      }
      .diaActual{
        background-color: transparent;
        border: 1px solid white;
        font-weight: bold;
      }
      .diaActual:focus{
        background-color: white;
        color: #4874c5;
      }
      .diaActual p{
        width: 20px;
        height: 20px;
        color: #4874c5;
        font-weight: bold;
        border-radius: 50%;
        background-color: white;
        padding: 5px;
      }
    }
  }
}
.coche-wrapper{
  .coche-vector{
    img{
      position: relative;
      top: 10px;
    }
  }
  .Coche{
    color: #4874c5;
    text-align: center;
    background-color: white;
    padding: 20px;

    .Title{
      font-weight: bold;
      font-size: 50px;
      margin: 0;
      color: #4874c5;
    }
    h2{
      color: #4874c5;
    }
  }
  .coche-wrapper-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .coche-card-wrapper{
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .coche-card{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 350px;
        height: 650px;
        box-shadow: -10px 10px 18px 5px rgba(0, 0, 0, 0.3);
        background-color: white;
        border-radius: 25px;

        img{
          width: 60%;
        }
        h1{
          color: #4874c5;
          margin: 0;
          padding: 0;
        }
        .categoria{
          width: auto;
        }
        hr{
          border: 1px solid #4874c5;
          width: 80%;
        }
        .coche-button{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
        button{
          margin: 20px 0;
          background-color: #4874c5;
          color: white;
          width: 200px;
          height: 50px;
          border: none;
          border-radius: 50px;
          outline: none;
          cursor: pointer;
        }
        button:hover{
          background-color: #5f97ff;
        }
        p{
          text-align: left;
          width: 80%;
          color: #4874c5;
        }
      }
      .coche-card:hover{
        transform: translateY(-10px);
        border: 1px solid #4874c5;
      }
    }
  }
  .tipocoche{

    transition: 0.5s ease-in-out;

    .tipo-wrapper-grid{
      min-height: 500px;
      display: grid;
      grid-template-columns: 40% 1fr;
      background-color: white;

      .tipo-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
          margin: 0;
        }

        button{
          background-color: #4874c5;
          color: white;
          width: 300px;
          height: 50px;
          border: none;
          border-radius: 50px;
          outline: none;
          cursor: pointer;
        }
      }
      .foto-vehiculo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
          width: 80%;
        }
      }
    }
    select{
      width: 300px;
      height: 50px;

      margin: 20px 0;

      border: 2px solid #4874c5;
      border-radius: 25px;
      background-color: transparent;
      outline: none;
      color: #4874c5;
    }
  }
}
footer{
  margin-top: 20px;
  .footer-vector{
    position: relative;
    z-index: -1;
    height: 140px;
    overflow-x: hidden;

    img{
      min-width: 1000px;
    }
  }
  .footer-wrapper{
    padding: 40px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    p{
      font-size: 13px;
    }
    .footer-logo{
      margin: 0 10px;
      max-width: 400px;
    }
    img{
      width: 100%;
    }

    .info{
      text-align: center;

      .direccion{
        text-align: left;
        ul{
          list-style: none;
          a{
            cursor:context-menu;
            color: black;
            text-decoration: none;
          }
          a:visited{
            color: black;
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 1200px) {
  .coche-wrapper{
    .Coche{
      .coche-wrapper-grid{
        grid-template-columns: 1fr;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .coche-wrapper{
    .Coche{
      .tipocoche{
        .tipo-wrapper-grid{
          grid-template-columns: 1fr;

          .foto-vehiculo{
            img{
              width: 80%;
              margin: 40px 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  header {
    height: 125px;
    justify-content: center;
    .links {
      display: none;
    }
    .logo {
      img{
        width: 300px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .Landing-wrapper{
    .landing-info-wrapper{
      .Logo{
        text-align: center;
        img{
          width: 90%;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .Landing-wrapper{
    .landing-info-wrapper{
      .landing-buttons {
        width: 100%;
        flex-direction: inherit;
        margin: 20px 0;
    
        .lan-buttn{
          width: 300px;
        }
        .lan-buttn2{
          width: 300px;
        }
      }
    }
  }
  .coche-wrapper{
    .Coche{
      .coche-wrapper-grid{
        .coche-card-wrapper{
          .coche-card{
            width: 260px;
          }
        }
      }
    }
  }
}
