@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #4874c5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5f97ff;
}

html {
  scroll-behavior: smooth;
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(74, 167, 255, 0.25);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}

body {
  overflow: overlay;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  background: url("../img/Background.png") no-repeat center center fixed;
  background-size: cover;
}

header {
  position: relative;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  margin: 0 20px;
  width: 200px;
}

header .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .links ul li {
  margin: 0 20px;
  list-style: none;
}

header .links ul li a {
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-left: 1rem;
}

header .links ul li a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: white;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header .links ul li a:hover:after {
  width: 100%;
  left: 0;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("../img/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vector-wrapper {
  position: relative;
  top: 10px;
  width: 100%;
  overflow-x: hidden;
}

.vector-wrapper-rotate {
  position: relative;
  top: -5px;
  width: 100%;
  overflow-x: hidden;
}

.vector-wrapper-rotate img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.vector {
  width: 100%;
  min-width: 600px;
  margin: 0;
  padding: 0;
}

.Landing-wrapper {
  position: relative;
  top: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Landing-wrapper .error {
  color: white;
  text-align: center;
}

.Landing-wrapper .error h1 {
  font-size: 50px;
  margin: 0;
}

.Landing-wrapper .error p {
  font-size: 20px;
  margin: 0;
}

.Landing-wrapper .landing-info-wrapper {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Landing-wrapper .landing-info-wrapper .imagen-error {
  width: 300px;
}

.Landing-wrapper .landing-info-wrapper .Logo img {
  width: 500px;
}

.Landing-wrapper .landing-info-wrapper .info {
  text-align: justify;
  margin: 0 20px;
  color: white;
}

.Landing-wrapper .landing-info-wrapper .landing-buttons {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
}

.Landing-wrapper .landing-info-wrapper .landing-buttons .lan-buttn {
  width: 150px;
  padding: 10px 0;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, transparent));
  background: linear-gradient(to right, #ffffff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.Landing-wrapper .landing-info-wrapper .landing-buttons .lan-buttn2 {
  width: 150px;
  padding: 10px 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  color: #4874c5;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #ffffff));
  background: linear-gradient(to right, transparent 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.Landing-wrapper .landing-info-wrapper .landing-buttons .lan-buttn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.3);
  background-position: left bottom;
  color: #4874c5;
}

.Landing-wrapper .landing-info-wrapper .landing-buttons .lan-buttn2:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5);
  background-position: left bottom;
  color: white;
}

.Info-wrapper, .Agendar-wrapper {
  background-color: white;
}

.Info-wrapper .info-grid, .Info-wrapper .Agendar-grid, .Agendar-wrapper .info-grid, .Agendar-wrapper .Agendar-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  color: #4874c5;
}

.Info-wrapper .info-grid .icon-Agendar, .Info-wrapper .Agendar-grid .icon-Agendar, .Agendar-wrapper .info-grid .icon-Agendar, .Agendar-wrapper .Agendar-grid .icon-Agendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Info-wrapper .info-grid .icon-Agendar i, .Info-wrapper .Agendar-grid .icon-Agendar i, .Agendar-wrapper .info-grid .icon-Agendar i, .Agendar-wrapper .Agendar-grid .icon-Agendar i {
  font-size: 200px;
}

.Info-wrapper .info-grid .img-info img, .Info-wrapper .Agendar-grid .img-info img, .Agendar-wrapper .info-grid .img-info img, .Agendar-wrapper .Agendar-grid .img-info img {
  margin: 20px;
  width: 80%;
  border-radius: 20px;
}

.Info-wrapper .info-grid .info-info, .Info-wrapper .info-grid .info-Agendar, .Info-wrapper .Agendar-grid .info-info, .Info-wrapper .Agendar-grid .info-Agendar, .Agendar-wrapper .info-grid .info-info, .Agendar-wrapper .info-grid .info-Agendar, .Agendar-wrapper .Agendar-grid .info-info, .Agendar-wrapper .Agendar-grid .info-Agendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Info-wrapper .info-grid .info-info h1, .Info-wrapper .info-grid .info-Agendar h1, .Info-wrapper .Agendar-grid .info-info h1, .Info-wrapper .Agendar-grid .info-Agendar h1, .Agendar-wrapper .info-grid .info-info h1, .Agendar-wrapper .info-grid .info-Agendar h1, .Agendar-wrapper .Agendar-grid .info-info h1, .Agendar-wrapper .Agendar-grid .info-Agendar h1 {
  margin: 0;
  font-size: 30px;
}

.Info-wrapper .info-grid .info-info hr, .Info-wrapper .info-grid .info-Agendar hr, .Info-wrapper .Agendar-grid .info-info hr, .Info-wrapper .Agendar-grid .info-Agendar hr, .Agendar-wrapper .info-grid .info-info hr, .Agendar-wrapper .info-grid .info-Agendar hr, .Agendar-wrapper .Agendar-grid .info-info hr, .Agendar-wrapper .Agendar-grid .info-Agendar hr {
  width: 100%;
  border: 1px solid #4874c5;
}

.Info-wrapper .info-grid .info-info a, .Info-wrapper .info-grid .info-Agendar a, .Info-wrapper .Agendar-grid .info-info a, .Info-wrapper .Agendar-grid .info-Agendar a, .Agendar-wrapper .info-grid .info-info a, .Agendar-wrapper .info-grid .info-Agendar a, .Agendar-wrapper .Agendar-grid .info-info a, .Agendar-wrapper .Agendar-grid .info-Agendar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: #4874c5;
  text-align: center;
}

.Info-wrapper .info-grid .info-info a:hover, .Info-wrapper .info-grid .info-Agendar a:hover, .Info-wrapper .Agendar-grid .info-info a:hover, .Info-wrapper .Agendar-grid .info-Agendar a:hover, .Agendar-wrapper .info-grid .info-info a:hover, .Agendar-wrapper .info-grid .info-Agendar a:hover, .Agendar-wrapper .Agendar-grid .info-info a:hover, .Agendar-wrapper .Agendar-grid .info-Agendar a:hover {
  background-color: #5f97ff;
}

.First-Section {
  height: 20vh;
  background-color: white;
}

.First-Section .first-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrapper,
.register-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login-wrapper .login, .login-wrapper .register,
.register-wrapper .login,
.register-wrapper .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px 20px;
}

.login-wrapper .login .Logo, .login-wrapper .register .Logo,
.register-wrapper .login .Logo,
.register-wrapper .register .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-wrapper .login .Logo img, .login-wrapper .register .Logo img,
.register-wrapper .login .Logo img,
.register-wrapper .register .Logo img {
  width: 300px;
}

.login-wrapper .login .register-input-wrapper, .login-wrapper .register .register-input-wrapper,
.register-wrapper .login .register-input-wrapper,
.register-wrapper .register .register-input-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.login-wrapper .login .inputs, .login-wrapper .register .inputs,
.register-wrapper .login .inputs,
.register-wrapper .register .inputs {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  gap: 5px;
  margin: 0 50px;
}

.login-wrapper .login .inputs h1, .login-wrapper .register .inputs h1,
.register-wrapper .login .inputs h1,
.register-wrapper .register .inputs h1 {
  margin: 5px 0;
}

.login-wrapper .login .inputs h4, .login-wrapper .register .inputs h4,
.register-wrapper .login .inputs h4,
.register-wrapper .register .inputs h4 {
  margin: 0;
}

.login-wrapper .login .inputs p, .login-wrapper .register .inputs p,
.register-wrapper .login .inputs p,
.register-wrapper .register .inputs p {
  margin: 0;
}

.login-wrapper .login .inputs a,
.login-wrapper .login .inputs a:visited, .login-wrapper .register .inputs a,
.login-wrapper .register .inputs a:visited,
.register-wrapper .login .inputs a,
.register-wrapper .login .inputs a:visited,
.register-wrapper .register .inputs a,
.register-wrapper .register .inputs a:visited {
  color: #0099ff;
  text-decoration: none;
}

.login-wrapper .login .inputs .input-wrapper input, .login-wrapper .register .inputs .input-wrapper input,
.register-wrapper .login .inputs .input-wrapper input,
.register-wrapper .register .inputs .input-wrapper input {
  width: 100%;
}

.login-wrapper .login .inputs input, .login-wrapper .login .inputs button, .login-wrapper .register .inputs input, .login-wrapper .register .inputs button,
.register-wrapper .login .inputs input,
.register-wrapper .login .inputs button,
.register-wrapper .register .inputs input,
.register-wrapper .register .inputs button {
  outline: none;
  text-indent: 10px;
  font-family: Poppins, Arial;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  width: 300px;
  height: 40px;
}

.login-wrapper .login .inputs .center-submit, .login-wrapper .register .inputs .center-submit,
.register-wrapper .login .inputs .center-submit,
.register-wrapper .register .inputs .center-submit {
  width: 100%;
  text-align: right;
}

.login-wrapper .login .inputs .center-submit-register, .login-wrapper .register .inputs .center-submit-register,
.register-wrapper .login .inputs .center-submit-register,
.register-wrapper .register .inputs .center-submit-register {
  width: 100%;
  text-align: right;
}

.login-wrapper .login .inputs .center-submit-register input[type="submit"], .login-wrapper .register .inputs .center-submit-register input[type="submit"],
.register-wrapper .login .inputs .center-submit-register input[type="submit"],
.register-wrapper .register .inputs .center-submit-register input[type="submit"] {
  width: 100%;
}

.login-wrapper .login .inputs input[type="submit"], .login-wrapper .login .inputs button, .login-wrapper .register .inputs input[type="submit"], .login-wrapper .register .inputs button,
.register-wrapper .login .inputs input[type="submit"],
.register-wrapper .login .inputs button,
.register-wrapper .register .inputs input[type="submit"],
.register-wrapper .register .inputs button {
  margin: 20px 0;
  width: 100px;
  text-indent: 0px;
  background-color: white;
  color: #4874c5;
  font-weight: bold;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg {
  margin: 20px 0;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .div1 {
  width: 200px;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .div1 .div2 {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .div1 .botonreservas button {
  background: none;
  border: 1px solid #4874c5;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  color: #4874c5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .div1 .botonreservas button:hover {
  background: #4874c5;
  color: white;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas h1 {
  margin: 20px 0;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid {
  width: 500px;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1, .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1 .horario, .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 .horario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #4874c5;
  border-radius: 10px;
  margin: 2px 0;
  cursor: pointer;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1 .horario input[type=checkbox], .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 .horario input[type=checkbox] {
  border: 2px solid #4874c5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1 .horario input:checked, .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 .horario input:checked {
  border-radius: 20px;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1 .horario label, .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 .horario label {
  margin-right: 30px;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1 .Titulo, .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 .Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4874c5;
  border: 1px solid #4874c5;
  border-radius: 10px;
}

.coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col1 .Titulo h1, .coche-wrapper .agenda-wrapper .agenda-bg2 .agenda-bg .horas .col-grid .col2 .Titulo h1 {
  margin: 0;
  padding: 0;
}

.agenda-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.agenda-wrapper .agenda-bg2 {
  background-color: white;
  width: 100%;
  text-align: center;
  color: #4874c5;
}

.agenda-wrapper .agenda-bg2 .agenda-bg {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.agenda-wrapper .agenda-bg2 .agenda-bg .agenda-wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.agenda-wrapper #Agenda {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  max-width: 400px;
  min-height: 520px;
  margin: 20px 20px;
}

.agenda-wrapper #Agenda .año {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  font-size: 20px;
  padding: 5px 0;
  color: white !important;
  background-color: #4874c5;
  border-radius: 25px 25px 0 0;
}

.agenda-wrapper #Agenda .año h2 {
  color: white;
  margin: 0 20px;
}

.agenda-wrapper #Agenda .mes {
  color: white;
  text-align: center;
  padding: 2px 0;
}

.agenda-wrapper #Agenda h3 {
  margin: 5px 0;
}

.agenda-wrapper #Agenda .botonesCal {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0 20px;
  background-color: white;
  border-radius: 50%;
  color: #4874c5;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.agenda-wrapper #Agenda #calendar {
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
}

.agenda-wrapper #Agenda #calendar td {
  height: 55px;
  width: 55px;
  text-align: center;
}

.agenda-wrapper #Agenda #calendar tr {
  color: white;
}

.agenda-wrapper #Agenda #calendar .dias {
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.agenda-wrapper #Agenda #calendar .dias:hover {
  border: 1px solid white;
}

.agenda-wrapper #Agenda #calendar .dias:focus {
  background-color: white;
  border: 1px solid white;
  color: #4874c5;
  font-weight: bold;
}

.agenda-wrapper #Agenda #calendar .diaActual {
  background-color: transparent;
  border: 1px solid white;
  font-weight: bold;
}

.agenda-wrapper #Agenda #calendar .diaActual:focus {
  background-color: white;
  color: #4874c5;
}

.agenda-wrapper #Agenda #calendar .diaActual p {
  width: 20px;
  height: 20px;
  color: #4874c5;
  font-weight: bold;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

.pdf {
  text-align: left;
}

.pdf .Titulo {
  color: #4874c5;
}

.pdf h2 {
  color: #4874c5;
}

.coche-wrapper .coche-vector img {
  position: relative;
  top: 10px;
}

.coche-wrapper .info-conductor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.coche-wrapper .info-conductor .conductor-grid {
  margin: 10px 0;
  width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.coche-wrapper .info-conductor .conductor-grid .conductor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 0 40px;
}

.coche-wrapper .info-conductor .conductor-grid .conductor hr {
  width: 300px;
  border: 1px solid #4874c5;
  margin: 5px 0;
}

.coche-wrapper .info-conductor .conductor-grid .conductor h1 {
  color: #4874c5;
  margin: 5px 0;
}

.coche-wrapper .info-conductor .conductor-grid .conductor p, .coche-wrapper .info-conductor .conductor-grid .conductor b {
  color: #4874c5;
  margin: 0;
}

.coche-wrapper .info-conductor .conductor-grid .conductor-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coche-wrapper .info-conductor .conductor-grid .conductor-logo i {
  color: #4874c5;
  font-size: 200px;
}

.coche-wrapper .info-conductor .button-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
}

.coche-wrapper .info-conductor .button-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  background-color: #4874c5;
  border-radius: 50px;
  border: 1px solid #4874c5;
  color: white;
  text-decoration: none;
}

.coche-wrapper .info-conductor .button-info a i {
  color: white;
  font-size: 30px;
  margin: 10px 5px;
}

.coche-wrapper .Coche {
  color: #4874c5;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.coche-wrapper .Coche .Title {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  color: #4874c5;
}

.coche-wrapper .Coche h2 {
  color: #4874c5;
}

.coche-wrapper .coche-wrapper-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 650px;
  -webkit-box-shadow: -10px 10px 18px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 10px 18px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 25px;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card img {
  width: 60%;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card h1 {
  color: #4874c5;
  margin: 0;
  padding: 0;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card .categoria {
  width: auto;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card hr {
  border: 1px solid #4874c5;
  width: 80%;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card .coche-button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card button {
  margin: 20px 0;
  background-color: #4874c5;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card button:hover {
  background-color: #5f97ff;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card p {
  text-align: left;
  width: 80%;
  color: #4874c5;
}

.coche-wrapper .coche-wrapper-grid .coche-card-wrapper .coche-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border: 1px solid #4874c5;
}

.coche-wrapper .tipocoche {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.coche-wrapper .tipocoche .tipo-wrapper-grid {
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  background-color: white;
}

.coche-wrapper .tipocoche .tipo-wrapper-grid .tipo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coche-wrapper .tipocoche .tipo-wrapper-grid .tipo-wrapper h2 {
  margin: 0;
}

.coche-wrapper .tipocoche .tipo-wrapper-grid .tipo-wrapper button {
  background-color: #4874c5;
  color: white;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.coche-wrapper .tipocoche .tipo-wrapper-grid .foto-vehiculo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coche-wrapper .tipocoche .tipo-wrapper-grid .foto-vehiculo img {
  width: 80%;
}

.coche-wrapper .tipocoche select {
  width: 300px;
  height: 50px;
  margin: 20px 0;
  border: 2px solid #4874c5;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  color: #4874c5;
}

.coche-wrapper #Informacion .info-conductor .botonpdf {
  background: none;
  border: 1px solid #4874c5;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  color: #4874c5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 20px;
}

.coche-wrapper #Informacion .info-conductor .botonpdf:hover {
  background: #4874c5;
  color: white;
}

.coche-wrapper #Informacion .info-conductor #info-usuario {
  color: #4874c5;
  width: 500px;
  text-align: center;
}

.coche-wrapper #Informacion .info-conductor #info-usuario th {
  font-size: 20px;
  padding: 0 20px;
}

.coche-wrapper #Informacion .info-conductor #info-usuario td button {
  border: 1px solid #4874c5;
  border-radius: 10px;
  background: none;
  padding: 10px;
  color: #4874c5;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.coche-wrapper #Informacion .info-conductor #info-usuario td button:hover {
  background-color: #4874c5;
  color: white;
}

.coche-wrapper #Informacion .info-conductor #calendario {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  max-width: 400px;
  min-height: 520px;
  margin: 20px 20px;
}

.coche-wrapper #Informacion .info-conductor #calendario .año {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  font-size: 20px;
  padding: 5px 0;
  color: white !important;
  background-color: #4874c5;
  border-radius: 25px 25px 0 0;
}

.coche-wrapper #Informacion .info-conductor #calendario .año h2 {
  color: white;
  margin: 0 20px;
}

.coche-wrapper #Informacion .info-conductor #calendario .mes {
  color: white;
  text-align: center;
  padding: 2px 0;
}

.coche-wrapper #Informacion .info-conductor #calendario h3 {
  margin: 5px 0;
}

.coche-wrapper #Informacion .info-conductor #calendario .botonesCal {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0 20px;
  background-color: white;
  border-radius: 50%;
  color: #4874c5;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar {
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar td {
  height: 55px;
  width: 55px;
  text-align: center;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar tr {
  color: white;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar .dias {
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar .dias:hover {
  border: 1px solid white;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar .dias:focus {
  background-color: white;
  border: 1px solid white;
  color: #4874c5;
  font-weight: bold;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar .diaActual {
  background-color: transparent;
  border: 1px solid white;
  font-weight: bold;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar .diaActual:focus {
  background-color: white;
  color: #4874c5;
}

.coche-wrapper #Informacion .info-conductor #calendario #calendar .diaActual p {
  width: 20px;
  height: 20px;
  color: #4874c5;
  font-weight: bold;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

footer {
  margin-top: 20px;
}

footer .footer-vector {
  position: relative;
  z-index: -1;
  height: 140px;
  overflow-x: hidden;
}

footer .footer-vector img {
  min-width: 1000px;
}

footer .footer-wrapper {
  padding: 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

footer .footer-wrapper p {
  font-size: 13px;
}

footer .footer-wrapper .footer-logo {
  margin: 0 10px;
  max-width: 400px;
}

footer .footer-wrapper img {
  width: 100%;
}

footer .footer-wrapper .info {
  text-align: center;
}

footer .footer-wrapper .info .direccion {
  text-align: left;
}

footer .footer-wrapper .info .direccion ul {
  list-style: none;
}

footer .footer-wrapper .info .direccion ul a {
  cursor: context-menu;
  color: black;
  text-decoration: none;
}

footer .footer-wrapper .info .direccion ul a:visited {
  color: black;
}

@media screen and (max-width: 1200px) {
  .coche-wrapper .Coche .coche-wrapper-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .coche-wrapper .Coche .tipocoche .tipo-wrapper-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .coche-wrapper .Coche .tipocoche .tipo-wrapper-grid .foto-vehiculo img {
    width: 80%;
    margin: 40px 0;
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 125px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .links {
    display: none;
  }
  header .logo img {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .Landing-wrapper .landing-info-wrapper .Logo {
    text-align: center;
  }
  .Landing-wrapper .landing-info-wrapper .Logo img {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .Landing-wrapper .landing-info-wrapper .landing-buttons {
    width: 100%;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    margin: 20px 0;
  }
  .Landing-wrapper .landing-info-wrapper .landing-buttons .lan-buttn {
    width: 300px;
  }
  .Landing-wrapper .landing-info-wrapper .landing-buttons .lan-buttn2 {
    width: 300px;
  }
  .coche-wrapper .Coche .coche-wrapper-grid .coche-card-wrapper .coche-card {
    width: 260px;
  }
}
/*# sourceMappingURL=styles.css.map */