@import url("https://fonts.googleapis.com/css2?family=Poppins");
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb {
  background: #4874c5; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5f97ff; 
}

body {
  overflow: overlay;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial;

  box-sizing: border-box;
  background-color: white;
  background: url("../img/Background.png") no-repeat center center fixed;
  background-size: cover;
}
header {
  position: relative;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    img {
      margin: 0 20px;
      width: 200px;
    }
  }

  .links {
    ul {
      display: flex;
      li {
        margin: 0 20px;
        list-style: none;

        a {
          position: relative;
          padding-bottom: 10px;
          text-transform: uppercase;
          color: white;
          text-decoration: none;
          font-size: 17px;
          margin-left: 1rem;
        }
        a:after {
          bottom: 0;
          content: "";
          display: block;
          height: 1px;
          left: 50%;
          position: absolute;
          background: white;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        a:hover:after {
          width: 100%;
          left: 0;
        }
      }
      li:hover {
      }
    }
  }
}
.bg {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  z-index: -1;

  background-image: url("../img/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector-wrapper{
  position: relative;
  top: 10px;
  width: 100%;
  overflow-x: hidden;
}
.vector {
  width: 100%;
  min-width: 600px;
  margin: 0;
  padding: 0;
}

.Landing-wrapper {
    position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  .landing-info-wrapper {
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Logo {
      img {
        width: 500px;
      }
    }
    .info {
      text-align: justify;
      margin: 0 20px;
      color: white;
    }
    .landing-buttons {
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;

      .lan-buttn {
        width: 150px;
        padding: 10px 0;
        border: 1px solid white;
        border-radius: 50px;
        color: white;
        text-decoration: none;

        background: linear-gradient(to right, #ffffff 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.3s ease-out;
      }
      .lan-buttn2 {
        width: 150px;
        padding: 10px 0;
        background-color: white;
        border: 1px solid white;
        border-radius: 50px;
        color: #4874c5;
        text-decoration: none;

        background: linear-gradient(to right, transparent 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.3s ease-out;
      }

      .lan-buttn:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.3);
        background-position: left bottom;
        color: #4874c5;
      }
      .lan-buttn2:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5);
        background-position: left bottom;
        color: white;
      }
    }
  }
}
.First-Section {
  height: 20vh;
  background-color: white;

  .first-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.login-wrapper,
.register-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;

  .login,
  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 400px;
    height: 500px;

    .Logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 20px 0;

      img {
        width: 300px;
      }
    }
    .inputs {
      form {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        margin: 0 50px;
        h1 {
          margin: 5px 0;
        }
        h4 {
          margin: 0;
        }
        p {
          margin: 0;
        }
        a,
        a:visited {
          color: #0099ff;
          text-decoration: none;
        }

        input {
          outline: none;
          text-indent: 10px;
          font-family: Poppins, Arial;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 15px;
          width: 300px;
          height: 40px;
        }
        .center-submit {
          width: 100%;
          text-align: right;
        }
        .center-submit-register {
          width: 100%;
          text-align: right;

          input[type="submit"] {
            width: 100%;
          }
        }
        input[type="submit"] {
          width: 100px;
          text-indent: 0px;
          background-color: white;
          color: #4874c5;
          font-weight: bold;
        }
      }
    }
  }
}
.agenda-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #Agenda{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    min-width: 350px;
    min-height: 520px;

    .año{
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 50px;
      font-size: 20px;
      padding: 5px 0;
      color: white;
      background-color: #4874c5;
      border-radius: 25px 25px 0 0;

    }
    .mes{
      color: white;
      text-align: center;
      padding: 2px 0;
    }
    h3{
      margin: 5px 0;
    }
    .botonesCal{
      width: 30px;
      height: 30px;
      font-size: 20px;
      margin: 0 20px;
      background-color: white;
      border-radius: 50%;
      color: #4874c5;
      border: none;
      cursor: pointer;
      outline: none;
      transition: 0.5s;
    }
    #calendar{
      transition: 1s;
      width: 100%;

      td{
        height: 55px;
        width: 55px;
        text-align: center;
      }
      tr{
        color: white;
      }
      .dias{
        width: 30px;
        height: 30px;
        color: white;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        outline: none;
      }
      .dias:hover{
        border: 1px solid white;
      }
      .dias:focus{
        background-color: white;
        border: 1px solid white;
        color: #4874c5;
        font-weight: bold;
      }
      .diaActual{
        background-color: transparent;
        border: 1px solid white;
        font-weight: bold;
      }
      .diaActual:focus{
        background-color: white;
        color: #4874c5;
      }
      .diaActual p{
        width: 20px;
        height: 20px;
        color: #4874c5;
        font-weight: bold;
        border-radius: 50%;
        background-color: white;
        padding: 5px;
      }
    }
  }
}
footer{
  margin-top: 20px;
  .footer-vector{
    position: relative;
    z-index: -1;
    height: 140px;
    overflow-x: hidden;

    img{
      min-width: 1000px;
    }
  }
  .footer-wrapper{
    padding: 40px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    p{
      font-size: 13px;
    }
    img{
      width: 400px;
    }

    .info{
      text-align: center;

      .direccion{
        text-align: left;
        ul{
          list-style: none;
          a{
            cursor:context-menu;
            color: black;
            text-decoration: none;
          }
          a:visited{
            color: black;
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 125px;
    justify-content: center;
    .links {
      display: none;
    }
    .logo {
      img{
        width: 300px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .Landing-wrapper{
    .landing-info-wrapper{
      .Logo{
        text-align: center;
        img{
          width: 90%;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .Landing-wrapper{
    .landing-info-wrapper{
      .landing-buttons {
        width: 100%;
        flex-direction: inherit;
        margin: 20px 0;
    
        .lan-buttn{
          width: 300px;
        }
        .lan-buttn2{
          width: 300px;
        }
      }
    }
  }
}
