@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial;

    box-sizing: border-box;
    background: url("../img/Background.png") no-repeat center center fixed;
}

.Landing-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    .landing-info-wrapper{
        width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .Logo{
            img{
                width: 500px;
            }
        }
        .info{
            margin: 0 20px;
            color: white;
        }
        .landing-buttons{
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;

            .lan-buttn{
                width: 150px;
                padding: 10px 0;
                border: 1px solid white;
                border-radius: 50px;
                color: white;
                text-decoration: none;
            }
            .lan-buttn2{
                width: 150px;
                padding: 10px 0;
                background-color: white;
                border: 1px solid white;
                border-radius: 50px;
                color: #4874c5;
                text-decoration: none;
            }
        }
    }
}